/* ====================


 トップページ > 活動内容

 活動内容ページ


=======================*/

.activity-block {
	padding: 30px 0 60px;
	// background-image: url(../images/bg/so-white.png);

	&_title {
		&::after {
			//font-sizeは、object > utility > _size.scss
			position: absolute;
			bottom: -18px;
			left: 50%;
			transform: translateX(-50%);
			content: "活動内容";
			@include min-screen($break_point_max) {
				bottom: -22px;
			}
		}
	}
	&_lists {//ul
		
		align-items: center;
		padding: 0 10px;
		
		@include min-screen($break_point_max) {
			display: flex;
			// flex-wrap: wrap;
			justify-content: space-between;
			padding: 0 50px;
			margin-bottom: 45px;
			margin-left: -10px;
		}
	}
	&_list {//li
		// background: $white;
		// filter: drop-shadow(1px 1px 2px $gray);
		@include max-screen($break_point_max) {
			margin-bottom: 50px;
		}
		@include min-screen($break_point_max) {
			// width: calc(33.3333% - 20px) !important;
			// margin: 0 0 10px 0;
		}
		&:last-child {
			@include max-screen($break_point_max) {
				margin-bottom: 10px;
			}
		}
		&__link {//a
			color: $black;
		}
	}
}

.activity-item {
	&__thumb {//画像
		width: 100%;
		// height: 201px;
		// background: cornflowerblue;
		overflow: hidden;
	}
	&__bottombox {
		padding: 0 25px 10px;
		@include max-screen($break_point_max) {
			padding: 0 8px 10px;
		}

	}
	&__title {//h3
		//font-sizeは、object > utility > _size.scss
		color: $blue;
		text-align: center;
	}
	&__text {//p
		//font-sizeは、object > utility > _size.scss
		line-height: 1.5;
	}
}

.activity {
	.l-container__wrapper {
		padding-bottom: 40px;
		@include min-screen($break_point_max) {
			padding-bottom: 20px;
		}
	}
	.p-activity-block {
		&_title {
			color: $blue;
			text-align: center;
			padding-bottom: 30px;
			@include min-screen($break_point_max) {
				padding-bottom: 20px;
			}
		}
		&-wrap{
			overflow: auto;
		}
		&_img {
			width: 1000px;
			height: 100%;
			background-size: cover;
			background-position: center;
			overflow: hidden;
			margin-bottom: 10px;
			filter: drop-shadow(1px 1px 3px $gray);
			@include min-screen($break_point_max) {
				width: 100%;
				margin-bottom: 10px;
			}
		}
		&_text {//p

		}
	}
}

.activity-1 {
	// background-image: url(../images/mainvisual/page-outline-header.jpeg);
	background: $blue;
}
.activity-2 {
	// background-image: url(../images/mainvisual/page-outline-header.jpeg);
	background: $yellow;
}
.activity-3 {
	// background-image: url(../images/mainvisual/page-outline-header.jpeg);
	background: $gray;
}