/* ====================


 トップページ > コラム

 コラム一覧ページ

=======================*/
.news {
	.column-block {
		@include min-screen($break_point_max) {
			height: 50vw;
		}
	}
}
.column-block {
	padding: 40px 0 60px !important;
	@include min-screen($break_point_max) {
		padding: 50px 0 90px !important;
	}
	&_title {
		&::after {
			//font-sizeは、object > utility > _size.scss
			position: absolute;
			bottom: -18px;
			left: 50%;
			transform: translateX(-50%);
			content: "コラム";
			@include min-screen($break_point_max) {
				bottom: -22px;
			}
		}
	}
	&_lists {//ul
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		padding: 0 10px;
		margin-bottom: 45px;
		@include min-screen($break_point_max) {
			justify-content: space-between;
			padding: 0 50px;
			margin-bottom: 60px;
		}
	}
	&_list {//li
		background: $white;
		filter: drop-shadow(1px 1px 2px $gray);
		@include max-screen($break_point_max) {
			margin-bottom: 50px;
		}
		@include min-screen($break_point_max) {
			width: calc(33.3333% - 20px);
			margin: 0 10px;
		}
		&:last-child {
			@include max-screen($break_point_max) {
				margin-bottom: 10px;
			}
		}
		&__link {//a
			color: $black;
		}
	}
}

.column {
	&-lists {//ul
		padding: 0 10px;
		margin-bottom: 45px;
		@include min-screen($break_point_max) {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: start;
			padding: 0 50px;
			margin-bottom: 60px;
		}
	}
	&-list {//li
		//p-cardは、project > _card.scss
	}
}

.page-column {
	&-header {//h2
		border-bottom: 1px solid $black;
		&__title {
			font-size: 18px;
			@include min-screen($break_point_max) {
				font-size: 22px;
			}
		}
		&__date {
			color: $gray;
			text-align: right;
		}
	}
	&__content {
		padding: 0 5px 50px;
		@include min-screen($break_point_pc) {
			padding: 0 80px 50px;
		}
	}

}