<%-
  include('../common/_header', {
    page: json['outline']
  });
%>

<!-- ここからコンテンツ -->
<!-- メインビジュアル -->
<% include ../common/_mainvisual %>
<div class="l-container">
  <!-- パンくず -->
  <% include ../common/_breadcrumbs %>
  <div class="l-container__inner">
    <div class="l-container__wrapper">
        <!-- コラムセクション -->
        <div class="outline-block section-block">

          <div class="c-table c-table__default">
            <dl class="c-table__row">
              <dt>協会名</dt>
              <dd>一般社団法人 小規模事業者支援協会</dd>
            </dl>
            <dl class="c-table__row">
              <dt>設立</dt>
              <dd>2021年1月</dd>
            </dl>
            <dl class="c-table__row">
              <dt>所在地</dt>
              <dd>〒151-???? <br class="SP-br">東京都0000000000</dd>
            </dl>
            <dl class="c-table__row">
              <dt>電話番号</dt>
              <dd>03-0000-0000</dd>
            </dl>
            <dl class="c-table__row">
              <dt>発起人</dt>
              <dd>江本 一朗</dd>
            </dl>
            <dl class="c-table__row">
              <dt>活動内容</dt>
              <dd>テキストテキストテキストテキスト</dd>
            </dl>
            <dl class="c-table__row">
              <dt>パートナー</dt>
              <dd>
                テキストテキストテキストテキスト<br>
                テキストテキストテキストテキスト<br>
                テキストテキストテキストテキスト<br>
                テキストテキストテキストテキスト<br>
                テキストテキストテキストテキスト<br>
                テキストテキストテキストテキスト
              </dd>
            </dl>
          </div>
        </div>
    </div>
  </div>
</div>

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
