<%-
  include('../common/_header', {
    page: json['news']
  });
%>

<!-- ここからコンテンツ -->
<!-- メインビジュアル -->
<% include ../common/_mainvisual %>
<div class="l-container">
  <!-- パンくず -->
  <% include ../common/_breadcrumbs %>
  <div class="l-container__inner">
    <div class="l-container__wrapper">
      <!-- お知らせセクション -->
      <div class="news-block section-block">
        <ul class="news-lists">
          <li class="news-list">
            <a class="news-list__link" href="#">
              <span class="news-list__day">2021年12月10日</span>
              タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
            </a>
          </li>
          <li class="news-list">
            <a class="news-list__link" href="#">
              <span class="news-list__day">2021年12月10日</span>
              タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
            </a>
          </li>
          <li class="news-list">
            <a class="news-list__link" href="#">
              <span class="news-list__day">2021年12月10日</span>
              タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
            </a>
          </li>
          <li class="news-list">
            <a class="news-list__link" href="#">
              <span class="news-list__day">2021年12月10日</span>
              タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
            </a>
          </li>
          <li class="news-list">
            <a class="news-list__link" href="#">
              <span class="news-list__day">2021年12月10日</span>
              タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
            </a>
          </li>
          <li class="news-list">
            <a class="news-list__link" href="#">
              <span class="news-list__day">2021年12月10日</span>
              タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
            </a>
          </li>
          <li class="news-list">
            <a class="news-list__link" href="#">
              <span class="news-list__day">2021年12月10日</span>
              タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
            </a>
          </li>
          <li class="news-list">
            <a class="news-list__link" href="#">
              <span class="news-list__day">2021年12月10日</span>
              タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
            </a>
          </li>
        </ul>
        <div class="section-block__btn">
          <a href="#">詳しく見る</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
