
/*=========================
global-navigation active
==========================*/

#container,
.l-header,
.page-top__btn,
.l-container {
  position: relative;
  transition: all .5s;
  
}
// 表示アニメーション
.mobile-menu {
  width: 100%;
  height: 300px;
  // ↓メニューを背面に配置した。(固定位置)
  position: relative;
  @include min-screen($break_point_pc) {
    display: none !important;
  }
  &__main {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
      // ↓表示を滑らかにした。
      perspective: 2000px;
      transform-style: preserve-3d;
  }
  &__item {
      list-style: none;
      display: block;
      padding: 0 40px;
      transform: translate3d(0, 0, -1000px);
      transition: transform 0.3s, opacity 0.2s;
      opacity: 0;
  }
  &__link {
      
  }
}


.menu-open {
  /* スマホhーmenu時にスクロール禁止 */
  overflow: hidden;
  & .l-container,
  .l-container_sec,
  .l-container_thr,
  .l-footer {
    opacity: 0;
    transition: all .1s;
  }
  & .c-mv{
    display: none;
    transition: all .1s;
  }
  & .mobile-menu {

    z-index: 10;
      &__ttl {
        position: relative;
        display: block;
        text-align: center;
        letter-spacing: 0.05em;
        font-size: 40px;
        letter-spacing: 0.1em;
        opacity: 1;
        transition: 0.2s ease-in, opacity 0.5s ease-out;
        transform-style: preserve-3d;
      }
      &__item {
          transform: none;
          opacity: 1;
          /* $iが1から始まり、5で終わる */
          @for $i from 1 through 7 {
              /* 0.07sずつ遅らせて表示させる。(二つ目以降も適用) */
              &:nth-child(#{$i}) {
                  transition-delay: $i * 0.07s;
              }
          }
      }
  }
}

// ハンバーガーメニュータップopen後に表示されるメニュー　↓
.mobile-menu__main /* ul */ {
  // display: inline-block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
  width: 100%;
  .mobile-menu__item /* li */ {
    position: relative;
    flex-basis: 50%;
    text-align: center;
    padding-bottom: 5px;
    @include min-screen($break_point_min) {
      height: 2.5em;
    }
    .mobile-menu__link /* a */ {
      position: relative;
      display: block;
      padding: 15px 0;
      color: $black;
      cursor: pointer;
    }
  }
}