
<div class="c-breadcrumb">
	<ul class="c-breadcrumb__inner">
		<li class="c-breadcrumb__item"><a class="c-breadcrumb__link" href="/">ホーム</a></li>
		<li class="c-breadcrumb__item">カレントページタイトル</li>
	</ul>
</div>