

			<footer id="footer" class="l-footer">
				<div class="l-footer__inner">
					<ul class="c-footer__navbox">
						<li class="c-footer__navbox__menu">
							<a href="/">TOP</a>
						</li>
						<li class="c-footer__navbox__menu">
							<a href="/activity/">活動内容</a>
						</li>
						<li class="c-footer__navbox__menu">
							<a href="/outline/">協会概要</a>
						</li>
						<li class="c-footer__navbox__menu">
							<a href="/news/">お知らせ</a>
						</li>
						<li class="c-footer__navbox__menu">
							<a href="/column/">コラム</a>
						</li>
						<li class="c-footer__navbox__menu">
							<a href="/membership/">会員登録</a>
						</li>
						<li class="c-footer__navbox__menu">
							<a href="/contact/">お問い合わせ</a>
						</li>
		
					</ul>
					<!-- サイトロゴ -->
					<h2 class="c-footer__logo">
						<a href="/">
							<img src="../images/logo/shoukibo-shien-logo.png" alt="一般社団法人 小規模事業者支援協会">
						</a>
					</h2>

				</div>
				<div class="c-footer__copy f-copy">
					Copyright 2022 shoukibojigyousya-shienkyoukai All Rights Reserved.
				</div>
			</footer>
		</div>
		<!-- / l-wrapper -->

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bxslider/4.2.15/jquery.bxslider.min.js"></script><!-- ニュースティッカー用-->
		<script src="/js/script.min.js"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

	</body>
</html>
