<div class="c-mv">
	<div class="c-mv-top">
		<div class="c-mv-top__home">

		</div>
		<div class="c-mv-top__activity">
			<h2 class="c-mv-top__activity__title">
				ACTIVITY
			</h2>
		</div>
		<div class="c-mv-top__outline">
			<h2 class="c-mv-top__outline__title">
				OUTLINE
			</h2>
		</div>
		<div class="c-mv-top__news">
			<h2 class="c-mv-top__news__title">
				NEWS
			</h2>
		</div>
		<div class="c-mv-top__column">
			<h2 class="c-mv-top__column__title">
				COLUMN
			</h2>
		</div>
		<div class="c-mv-top__membership">
			<h2 class="c-mv-top__membership__title">
				MEMBERSHIP
			</h2>
		</div>
		<div class="c-mv-top__contact">
			<h2 class="c-mv-top__contact__title">
				CONTACT
			</h2>
		</div>

	</div>
</div>