<%-
  include('../common/_header', {
    page: json['activity']
  });
%>

<!-- ここからコンテンツ -->
<!-- メインビジュアル -->
<% include ../common/_mainvisual %>
<div class="l-container">
  <!-- パンくず -->
  <% include ../common/_breadcrumbs %>
  <div class="l-container__inner">
    <div class="l-container__wrapper">
        <!-- ①活動内容 -->
        <section class="p-activity-block section-block">
          <h2 class="p-activity-block_title">①活動内容</h2>
          <div class="p-activity-block_img activity-1">
            <!-- <img src="../images/mainvisual/page-outline-header.jpeg" class="" alt=""> -->
          </div>
          <p class="p-activity-block_text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </section>
        <!-- ②活動内容 -->
        <section class="p-activity-block section-block">
          <h2 class="p-activity-block_title">②活動内容</h2>
          <div class="p-activity-block_img activity-2">
            <!-- <img src="../images/mainvisual/page-outline-header.jpeg" class="" alt=""> -->
          </div>
          <p class="p-activity-block_text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </section>
        <!-- ③活動内容 -->
        <section class="p-activity-block section-block">
          <h2 class="p-activity-block_title">③活動内容</h2>
          <div class="p-activity-block_img activity-3">
            <!-- <img src="../images/mainvisual/page-outline-header.jpeg" class="" alt=""> -->
          </div>
          <p class="p-activity-block_text">
            テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
          </p>
        </section>
    </div>
  </div>
</div>

<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
