<%-
  include('./common/_header', {
    page: json['home']
  });
%>

<!-- ここからコンテンツ -->
<!-- メインビジュアル -->
<% include common/_mainvisual %>
<div class="l-container">
  <div class="l-container__inner">

      <!-- お知らせセクション -->
      <section class="news-block section-block">
          <h2 class="news-block_title section-block_title">NEWS</h2>
          <ul class="news-lists">
            <li class="news-list">
              <a class="news-list__link" href="#">
                <span class="news-list__day">2021年12月10日</span>
                タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
              </a>
            </li>
            <li class="news-list">
              <a class="news-list__link" href="#">
                <span class="news-list__day">2021年12月10日</span>
                タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
              </a>
            </li>
            <li class="news-list">
              <a class="news-list__link" href="#">
                <span class="news-list__day">2021年12月10日</span>
                タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル
              </a>
            </li>
          </ul>
          <div class="section-block__btn">
            <a href="#">詳しく見る</a>
          </div>
      </section>

      <!-- カードセクション > ごあいさつブロック -->
      <div class="section-block">
        <section class="intro-block section-block__card">
          <h2 class="intro-block_title section-block_title">INTRODUCTION</h2>
          <div class="intro-block_flex">
              <!-- 左 -->
              <div class="intro-block_flex__left">
                <p class="intro-block_flex__left__text">小規模事業者支援協会は、サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                <p style="text-align: center;">一般社団法人 小規模事業者支援協会<br>発起人 江本一朗</p>
              </div>
              <!-- 右 -->
              <div class="intro-block_flex__right">
                <div class="intro-block_flex__right__img">

                </div>
                <!-- <img src="" alt=""> -->
              </div>
          </div>
        </section>
      </div>
      <!-- カードセクション > 悩みブロック -->
      <div class="section-block">
        <section class="worries-block section-block__card">
          <h2 class="worries-block_title">こんなお悩みはありませんか？</h2>
          <div class="worries-block_flex">
              <!-- 左 -->
              <div class="worries-block_flex__left">
                <div class="worries-block_flex__left__img">

                </div>
                <!-- <img src="" alt=""> -->
              </div>
              <!-- 右 -->
              <div class="worries-block_flex__right">
                <p class="worries-block_flex__right__title">
                  初めてのフリーランスで不安…<br>
                  会社員と同じような保険に入りたい…<br>
                  仕事に集中したい…</p>
                <p class="worries-block_flex__right__text">小規模事業者支援協会は、サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
              </div>

          </div>
        </section>
      </div>
      <!-- カードセクション > 活動内容ブロック -->
      <div class="section-block">
        <section class="activity-block section-block__card">
          <h2 class="activity-block_title section-block_title">ACTIVITY</h2>
          <ul class="activity-block_lists">
              <li class="activity-block_list">
                <a class="activity-block_list__link" href="#">
                  <!-- 画像 -->
                  <div class="activity-item__thumb">
                          <!-- <img src="" alt=""> -->
                  </div>
                  <!-- テキスト -->
                  <div class="activity-item__bottombox">
                    <h3 class="activity-item__title">タイトルタイトル</h3>
                    <p class="activity-item__text">当協会では、サンプルテキストサンプルテキテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                  </div>
                </a>
              </li>
              <li class="activity-block_list">
                <a class="activity-block_list__link" href="#">
                  <!-- 画像 -->
                  <div class="activity-item__thumb">
                          <!-- <img src="" alt=""> -->
                  </div>
                  <!-- テキスト -->
                  <div class="activity-item__bottombox">
                    <h3 class="activity-item__title">タイトルタイトル</h3>
                    <p class="activity-item__text">当協会では、サンプルテキストサンプルテキテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                  </div>
                </a>
              </li>
              <li class="activity-block_list">
                <a class="activity-block_list__link" href="#">
                  <!-- 画像 -->
                  <div class="activity-item__thumb">
                          <!-- <img src="" alt=""> -->
                  </div>
                  <!-- テキスト -->
                  <div class="activity-item__bottombox">
                    <h3 class="activity-item__title">タイトルタイトル</h3>
                    <p class="activity-item__text">当協会では、サンプルテキストサンプルテキテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</p>
                  </div>
                </a>
              </li>
          </ul>
          <div class="section-block__btn">
            <a href="#">詳しく見る</a>
          </div>
        </section>
      </div>

  </div>
</div>





<!-- ここまでコンテンツ -->

<% include ./common/_footer %>

