/*===========
 Basic color
===========*/
$black: #373737;
$lightblack:#4E4848;
$white: #ffffff;
$lightwhite:#FAFAFA;
$gray: #BCBBB6;
$lightgray: #f0efee;
$btn-gray:#B1B1B1;
$red : #b01717;
$beige: #ffeddc;
$yellow: #FAF45D;
$blue: #5383BC;


/*===========
 main color for this site.
===========*/

$color__background-body: $black;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #f6f6f6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__link: $black;
$color__link-visited: $black;
$color__link-hover: $black;
$color__text-main: $black;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

$color__blue-button: #1e62b4;