<%-
  include('../common/_header', {
    page: json['column']
  });
%>

<!-- ここからコンテンツ -->
<!-- メインビジュアル -->
<% include ../common/_mainvisual %>
<div class="l-container">
  <!-- パンくず -->
  <% include ../common/_breadcrumbs %>
  <div class="l-container__inner">
          <div class="l-container__wrapper">
            <!-- コラムセクション -->
            <div class="column-block section-block">
                <ul class="column-lists">
                  <li class="p-card">
                    <a href="#" class="p-card_link">
                      <div class="p-card__thumbnail">
                        <img src="/images/pic/no-img_640*480.png" alt="">
                      </div>
                      <div class="p-card_data">
                        <p class="p-card_data__day">2022.01.19</p>
                        <p class="p-card_data__text">テキストテキストテキスト</p>
                      </div>
                    </a>
                  </li>
                  <li class="p-card">
                    <a href="#" class="p-card_link">
                      <div class="p-card__thumbnail">
                        <img src="/images/pic/no-img_640*480.png" alt="">
                      </div>
                      <div class="p-card_data">
                        <p class="p-card_data__day">2022.01.19</p>
                        <p class="p-card_data__text">テキストテキストテキスト</p>
                      </div>
                    </a>
                  </li>
                  <li class="p-card">
                    <a href="#" class="p-card_link">
                      <div class="p-card_thumbnail">
                        <img src="/images/pic/no-img_640*480.png" alt="">
                      </div>
                      <div class="p-card_data">
                        <p class="p-card_data__day">2022.01.19</p>
                        <p class="p-card_data__text">テキストテキストテキスト</p>
                      </div>
                    </a>
                  </li>
                  <li class="p-card">
                    <a href="#" class="p-card_link">
                      <div class="p-card__thumbnail">
                        <img src="/images/pic/no-img_640*480.png" alt="">
                      </div>
                      <div class="p-card_data">
                        <p class="p-card_data__day">2022.01.19</p>
                        <p class="p-card_data__text">テキストテキストテキスト</p>
                      </div>
                    </a>
                  </li>
                  <li class="p-card">
                    <a href="#" class="p-card_link">
                      <div class="p-card__thumbnail">
                        <img src="/images/pic/no-img_640*480.png" alt="">
                      </div>
                      <div class="p-card_data">
                        <p class="p-card_data__day">2022.01.19</p>
                        <p class="p-card_data__text">テキストテキストテキスト</p>
                      </div>
                    </a>
                  </li>
                  <li class="p-card">
                    <a href="#" class="p-card_link">
                      <div class="p-card_thumbnail">
                        <img src="/images/pic/no-img_640*480.png" alt="">
                      </div>
                      <div class="p-card_data">
                        <p class="p-card_data__day">2022.01.19</p>
                        <p class="p-card_data__text">テキストテキストテキスト</p>
                      </div>
                    </a>
                  </li>
                </ul>
                <div class="section-block__btn">
                  <a href="#">詳しく見る</a>
                </div>
            </div>
          </div>
  </div>
</div>


<!-- ここまでコンテンツ -->

<% include ../common/_footer %>
