
.cat-lists {
	display: flex;
	text-align: center;
	justify-content: center;
	padding-bottom: 50px;
}
.cat-list {
	position: relative;
	padding: 0 10px;
	font-weight: bold;
	&:nth-child(n+2) :before {
		position: absolute;
		content: "";
		width: 1px;
		height: 12px;
		background-color: #ccc;
		left: 0;
		top: 55%;
		transform: translateY(-50%);
	}
}
// .cat-list:nth-child(n+2) :before {
// 	position: absolute;
// 	content: "";
// 	width: 1px;
// 	height: 12px;
// 	background-color: #ccc;
// 	left: 0;
// 	top: 55%;
// 	-webkit-transform: translateY(-50%);
// 	transform: translateY(-50%);
// }

