/* ====================
パンくず

  <div class="breadcrumbs">
    <ul class="c-mv-top">
      <li class="c-mv-top__1"></li>
      <li class="c-mv-top__2"></li>
      <li class="c-mv-top__3"></li>
      <div class="c-mv-top__4"></div>
      <div class="c-mv-top__5"></div>
    </ul>
  </div>


=======================*/
.index {
	.c-mv-top {
		// 削除予定
		
		// /削除予定
		position: relative;
		height: 218px;
		@include min-screen($break_point_min) {
			height: 805px;
		}

		&__activity,
		&__outline,
		&__news,
		&__column,
		&__membership,
		&__contact {
			&__title {//h2
				opacity: 0;
			}
		}
	}
}
.activity,
.outline,
.news,
.column,
.membership,
.contact {
	.c-mv-top {
		// 削除予定
		background: rgb(240, 255, 244);
		// /削除予定
		position: relative;
		height: 218px;
		@include min-screen($break_point_min) {
			height: 341px;
		}
		&_bg {
			background-color: $black;
			height: 218px;
			@include min-screen($break_point_min) {
				height: 341px;
			}
		}
		&__activity,
		&__outline,
		&__news,
		&__column,
		&__membership,
		&__contact {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			&__title {//h2
				color: $white;
				position: absolute;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;

				text-shadow: 2px 2px 4px $blue;
				&::before {
					position: absolute;
					bottom: 5px;
					left: 50%;
					transform: translateX(-50%);
					content: "";
					width: 50px;
					height: 2px;
					background: $white;
					@include min-screen($break_point_max) {
						bottom: 10px;
					}
				}
				&::after {
					//font-sizeは、object > utility > _size.scss
					position: absolute;
					bottom: -18px;
					// top: 50%;
					left: 50%;
					transform: translateX(-50%);
					// transform: translate(-50%, -50%);
					content: "お知らせ";
					width: 100%;
					text-align: center;
					@include min-screen($break_point_max) {
						bottom: -22px;
					}
				}
			}
		}
		&__activity {
			// background-image: url(./images/top/flag_navy.png);
		}
		&__outline {
			background-image: url(../images/mainvisual/page-outline-header.jpeg);
		}
		&__news {
			background-image: url(../images/mainvisual/page-news-header.jpeg);
		}
		&__column {
			background-image: url(../images/mainvisual/page-column-header.jpeg);
		}
		&__membership {
			// background-image: url(./images/top/flag_navy.png);
		}
		&__contact {
			// background-image: url(./images/top/flag_navy.png);
		}
	}
}

.activity {
	.c-mv-top__activity {
		opacity: .8 !important;
		&__title {//h2
			opacity: 1 !important;
		}
	}
}

.outline {
	.c-mv-top__outline {
		opacity: .7 !important;
		&__title {//h2
			opacity: 1 !important;
		}
	}
}

.news {
	.c-mv-top__news {
		opacity: .8 !important;
		&__title {//h2
			opacity: 1 !important;
		}
	}
}

.column {
	.c-mv-top__column {
		opacity: .7 !important;
		&__title {//h2
			opacity: 1 !important;
		}
	}
}

.membership {
	.c-mv-top__membership {
		opacity: .8 !important;
		&__title {//h2
			opacity: 1 !important;
		}
	}
}

.contact {
	.c-mv-top__contact {
		opacity: .8 !important;
		&__title {//h2
			opacity: 1 !important;
		}
	}
}


.c-mv {
	position: relative;
	top: 60px;
	width: 100%;
	@include min-screen($break_point_min) {
		top: 100px;
	}
	// &-top {
		// position: relative;
		// &__home {
		// 	opacity: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-size: cover;
		// 	background-position: center;
		// }
		// &__activity {
		// 	opacity: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-size: cover;
		// 	background-position: center;
		// }
		// &__outline {
		// 	opacity: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-size: cover;
		// 	background-position: center;
		// }
		// &__news {
		// 	opacity: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-size: cover;
		// 	background-position: center;
		// }
		// &__column {
		// 	opacity: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-size: cover;
		// 	background-position: center;
		// }
		// &__membership {
		// 	opacity: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-size: cover;
		// 	background-position: center;
		// }
		// &__contact {
		// 	opacity: 0;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-size: cover;
		// 	background-position: center;
		// }
	// }
}


