/* ====================
パンくず

  <div class="breadcrumbs">
    <ul class="c-mv-top">
      <li class="c-mv-top__1"></li>
      <li class="c-mv-top__2"></li>
      <li class="c-mv-top__3"></li>
      <div class="c-mv-top__4"></div>
      <div class="c-mv-top__5"></div>
    </ul>
  </div>


=======================*/

.index{
	.c-mv-top {
		position: relative;
		height: 218px;
		@include min-screen($break_point_min) {
			height: 600px;
		}
		&__home{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			background-image: url(../images/mainvisual/top-page-header.jpeg);
		}
		&__activity,
		&__outline,
		&__news,
		&__column,
		&__membership,
		&__contact {
			display: none;
			&__title {//h2
				display: none;
			}
		}
	}
}

.activity,
.outline,
.news,
.column,
.membership,
.contact {
	.c-mv-top {
		position: relative;
		height: 218px;
		@include min-screen($break_point_min) {
			height: 341px;
		}
		&_bg {//シャドウフィルター
			background-color: $black;
			height: 218px;
			@include min-screen($break_point_min) {
				height: 341px;
			}
		}
		&__activity,
		&__outline,
		&__news,
		&__column,
		&__membership,
		&__contact {
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-position: center;
			&__title {//h2
				color: $white;
				position: absolute;
				top: 45%;
				left: 50%;
				transform: translate(-50%, -50%);
				opacity: 0;
				text-shadow: 2px 2px 4px $blue;
				&::before {
					position: absolute;
					bottom: 5px;
					left: 50%;
					transform: translateX(-50%);
					content: "";
					width: 50px;
					height: 2px;
					background: $white;
					@include min-screen($break_point_max) {
						bottom: 10px;
					}
				}
			}
		}
		&__activity {
			background-image: url(../images/mainvisual/page-outline-header.jpeg);
		}
		&__outline {
			background-image: url(../images/mainvisual/page-outline-header.jpeg);
		}
		&__news {
			background-image: url(../images/mainvisual/page-news-header.jpeg);
		}
		&__column {
			background-image: url(../images/mainvisual/page-column-header.jpeg);
		}
		&__membership {
			background-image: url(../images/mainvisual/page-member-header.jpeg);
		}
		&__contact {
			background-image: url(../images/mainvisual/page-contact-header.jpeg);
		}
	}
}

.index{
	.c-mv-top__home {
		opacity: .7 !important;
	}
}


.activity {
	.c-mv-top__activity {
		opacity: .7 !important;
		&__title {//h2
			opacity: 1 !important;
			&::after {
				//font-sizeは、object > utility > _size.scss
				position: absolute;
				bottom: -18px;
				left: 50%;
				transform: translateX(-50%);
				content: "活動内容";
				width: 100%;
				text-align: center;
				@include min-screen($break_point_max) {
					bottom: -22px;
				}
			}
		}
	}
}

.outline {
	.c-mv-top__outline {
		opacity: .7 !important;
		&__title {//h2
			opacity: 1 !important;
			&::after {
				//font-sizeは、object > utility > _size.scss
				position: absolute;
				bottom: -18px;
				left: 50%;
				transform: translateX(-50%);
				content: "協会概要";
				width: 100%;
				text-align: center;
				@include min-screen($break_point_max) {
					bottom: -22px;
				}
			}
		}
	}
}

.news {
	.c-mv-top__news {
		opacity: .8 !important;
		&__title {//h2
			opacity: 1 !important;
			&::after {
				//font-sizeは、object > utility > _size.scss
				position: absolute;
				bottom: -18px;
				left: 50%;
				transform: translateX(-50%);
				content: "お知らせ";
				width: 100%;
				text-align: center;
				@include min-screen($break_point_max) {
					bottom: -22px;
				}
			}
		}
	}
}

.column {
	.c-mv-top__column {
		opacity: .7 !important;
		&__title {//h2
			opacity: 1 !important;
			&::after {
				//font-sizeは、object > utility > _size.scss
				position: absolute;
				bottom: -18px;
				left: 50%;
				transform: translateX(-50%);
				content: "コラム";
				width: 100%;
				text-align: center;
				@include min-screen($break_point_max) {
					bottom: -22px;
				}
			}
		}
	}
}

.membership {
	.c-mv-top__membership {
		opacity: .8 !important;
		&__title {//h2
			opacity: 1 !important;
			&::after {
				//font-sizeは、object > utility > _size.scss
				position: absolute;
				bottom: -18px;
				left: 50%;
				transform: translateX(-50%);
				content: "会員登録";
				width: 100%;
				text-align: center;
				@include min-screen($break_point_max) {
					bottom: -22px;
				}
			}
		}
	}
}

.contact {
	.c-mv-top__contact {
		opacity: .8 !important;
		&__title {//h2
			opacity: 1 !important;
			&::after {
				//font-sizeは、object > utility > _size.scss
				position: absolute;
				bottom: -18px;
				left: 50%;
				transform: translateX(-50%);
				content: "お問い合わせ";
				width: 100%;
				text-align: center;
				@include min-screen($break_point_max) {
					bottom: -22px;
				}
			}
		}
	}
}


.c-mv {
	position: relative;
	top: 60px;
	width: 100%;
	@include min-screen($break_point_min) {
		top: 100px;
	}
}


